{% extends 'base.html' %}
{% load static %}

{% block menu %}
    {% include 'includes/sidebar.html' %}
{% endblock %}

{% block header %}
    {% include 'includes/header.html' %}
{% endblock %}

{% block content %}
                <div class="shedule">
                    <div class="shedule__nav">
                        <div class="shedule__semester">
                            Семестр: <span>2</span>
                        </div>
                        <a download="" href="#" class="shedule__download">
                            <img src="{% static 'img/icon/floppy-disk.svg' %}" class="floppy-disk" alt="">
                            <span>Завантажити розклад</span>
                        </a>
                    </div>
                    <div class="group__table">
                        <table>
                            <tr>
                                <th colspan="1" class="group__subtitle">
                                    №
                                </th>
                                <th rowspan="1" class="group__text group__title">ПІБ</th>
                            </tr>
                            {% for student in students %}
                            <tr>
                                <td class="group__student--info">
                                    <span>
                                        {{forloop.counter}}
                                    </span>
                                </td>
                                <td class="group__text {% if group.headman == student %}group__old{% endif %} ">
                                    <span>
                                        {{student}}
                                    </span>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
{% endblock %}