{% extends 'base.html' %}
{% load static %}

{% block menu %}
    {% include 'includes/sidebar.html' %}
{% endblock %}

{% block header %}
    {% include 'includes/header.html' %}
{% endblock %}

{% block content %}
<div class="shedule">
                    <h2 class="group__mainTitle">
                        Групи кафедри
                    </h2>
                    <div class="group__teacher">
                        <table class="group__table group__table--teacher" id="create-lesson">
                            <tbody>
                                <tr>
                                    <td class="group__week group__week--teacher">Назва групи</td>
                                    <td class="group__week group__week--teacher">Розклад</td>
                                    <td class="group__week group__week--teacher">Студенти</td>
                                </tr>
                                {% for group in groups %}
                                    <tr>
                                        <td class="group__teacher--info">{{group}}</td>
                                        <td class="group__teacher--info"><a href="{% url 'groups:moderate_group' group_uuid=group.uuid %}">Редагувати розклад</a></td>
                                        <td class="group__teacher--info"><a href="{% url 'groups:moderate_group_students' group_uuid=group.uuid %}">Редагувати список студентів</a></td>
                                    </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
{% endblock %}