{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}


{% block menu %}
    {% include 'includes/sidebar.html' %}
{% endblock %}

{% block header %}
    {% include 'includes/header.html' %}
{% endblock %}

{% block content %}
                <div class="shedule">
                    <div class="shedule__nav">
                        <div class="shedule__item">
                            <div class="shedule__item--semester">
                                Семестр: <span>2</span>
                            </div>
                                <div class="shedule__item--discipline">
                                    <span>
                                        Дисципліна:
                                    </span>
                                    <select class="" name="subject_name">
                                        {% for subject in subjects %}
                                            <option value="{{subject.uuid}}">
                                                {{subject}}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            {% if user.is_teacher %}
                                <div class="shedule__item--group">
                                    <span>
                                        Група:
                                    </span>
                                    <select class="" name="group_name">
                                        {% for group in group_list %}
                                        <option value="{{group.uuid}}">
                                            {{group}}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            {% elif user.is_student %}
                                <input type="hidden" class="shedule__item--current-group" value="{{group_list.uuid}}">
                            {% endif %}
                                <button class="shedule__item--btn shedule__item--openMarkBook">
                                    Відкрити
                                </button>
                            </form>
                        </div>

                        <a download="" href="#" class="shedule__download">
                            <img src="{% static 'img/icon/floppy-disk.svg' %}" class="floppy-disk" alt="">
                            <span>Завантажити журнал</span>
                        </a>
                    </div>
                </div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/select-journal.js' %}"></script>
{% endblock %}