<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>
<body style="margin: 0; padding: 0; font-family: sans-serif;">
	<table align="center" cellpadding="0" cellspacing="0" width="600">
<!--		<tr>-->
<!--			<td align="center"  style="padding: 40px 0 30px 0;">-->
<!--				<img src="" alt="Зміна паролю" width="80%" height="auto" style="display: block;" />-->
<!--			</td>-->
<!--		</tr>-->
		<tr>
			<td width="260" valign="top" style="padding: 5px 20px 20px 20px; font-size: 36px; text-align: center;">
				Привіт {{ user.first_name }}!
			</td>
		</tr>
		<tr>
		 <td width="260" valign="top" style="padding: 10px 20px; font-size: 24px;">
			Ви запросили відновлення паролю облікового запису за адресою <a href="#">lms.ua</a>.
		 </td>
		</tr>
		<tr>
			<td width="260" valign="top" style="padding: 10px 20px; font-size: 18px;">
			   Перейдіть за посиланням нижче, для того щоб продовжити відновлення вашого паролю:
			</td>
		</tr>
		<tr>
			<td style="padding: 0px 20px;">
				<a href="{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}">{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}</a>
			</td>
		</tr>
		<tr>
			<td style="padding: 40px 20px 0px 20px">
				Якщо ви не виконували запит на відновлення паролю, видаліть це повідомлення, та напишіть до нашої технічної підтримки:
			</td>
		</tr>
		<tr>
			<td style="padding: 10px 20px 30px 20px">
				websamuraidev@gmail.com
			</td>
		</tr>
	   </table>
</body>
</html>