{% extends 'base.html' %}
{% block content %}
{% load static %}


<div class="reset">
  <h1 class="reset__title title">Сторінка встановлення нового паролю</h1>
  <img src="{% static 'img/icon/reset-pass.svg' %}" class="reset__pass img-svg" alt="">

  <h3 class="reset__subtitle reset__subtitle--new subtitle">
    Створіть новий пароль
  </h3>
  <form action="" method="POST" class="reset__form reset__new">
    {% csrf_token %}
      {{form.old_password}}
      {{form.new_password1}}
      {{form.new_password2}}
    <input type="submit" class="reset__btn reset__btn--new" value="Надіслати" /><br>
  </form>
  <a class="reset__main reset__main--new" href="/">На головну</a>
</div>
{% endblock%}