{% load static %}
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="img/icon/favicon1.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&display=swap&subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/preload.css' %}">
    <title>LMS</title>
</head>

    <body>
    <div class="preloader">
        <img class="img-svg ws" src="{% static 'img/icon/Web-samurai.svg' %}" alt="">
    </div>

       <section class="main">
           {% block menu %}

           {% endblock %}
            <div class="content">
                {% block header %}

                {% endblock %}
                {% block content %}

                {% endblock %}
            </div>
       </section>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
        <script src="{% static 'js/maskinput.js' %}"></script>
        <script src="{% static 'js/script.js' %}"></script>
        {% block scripts %}

        {% endblock %}
    </body>

</html>