@media screen and ( max-width: 460px )
    .main
        height: 100%
    .register
        background: none
        &__block
            width: 100%
        &__form
            width: 80%
        &__title
            font-size: 20px
        &__item
            height: 50px
            &--title
                font-size: 14px
                top: 16px

        &__input 
            height: 50px            
            &:focus + .register__focus + .register__item--title 
                top:  6px
                font-size: 10px
        &__btn
            font-size: 14px
            padding: 14px 18px
        &__text
            margin-top: 20px
        .has-val+.register__focus+.register__item--title 
            top: 6px
            font-size: 10px
    .header
        padding: 8px 10px
        height: auto
        &__cath
            display: none
        &__profile
            flex-direction: row-reverse
            align-items: center
        &__item
            img
                width: 40px 
                height: 40px
        &__name
            font-size: 16px
        &__group
            font-size: 13px
            text-align: left
        &__icon
            margin-left: 0
            margin-right: 10px
        &__menu
            display: block
            svg
                width: 30px 
                height: 30px
    .menu
        position: fixed
        right: -100%   
        transition: .4s ease-in-out
        width: 280px
        z-index: 200
        &__item
            height: 60px
            line-height: 60px
            span
                font-size: 15px
        &__head
            display: flex
        &__close
            margin-right: 10px
            margin-top: 6px
            display: block
            svg
                width: 20px
                height: 20px
                fill: #fff

    // ------------ Schedule ----------

    .main
        height: max-content
        min-height: 100vh
    .shedule  
        margin: 10px
        padding: 10px
        overflow: hidden
        min-height: 90vh
        .clone
            display: block
        &__download
            padding: 8px 12px
            span
                font-size: 14px
        &__item
            &--semester
                font-size: 15px
                span
                    font-size: 15px
        &__outer
            margin-top: 20px
        &__table
            width: 100%
            overflow: scroll
            table
        &__title
            font-size: 14px
            padding: 0 4px
            max-width: 80px
            min-width: 80px
            width: 80px
        &__subtitle
            font-size: 16px
        &__day
            min-width: 200px
            font-size: 14px
        
        &__semester
            font-size: 15px
        &__subject
            height: 60px
            width: 236px
            &--nav
                flex-direction: column
            &--room
                font-size: 11px
                margin-bottom: 2px
            &--name
                font-size: 14px
                line-height: 16px
            &--type
                font-size: 11px
        &__time
            padding: 0 4px
            max-width: 80px
            min-width: 80px
            width: 80px
            span
                font-size: 14px
                &:nth-child(1)
                    margin-bottom: 4px
    #shedule__scroll
        overflow: hidden
    .shedule__outer
        position: relative
        max-width: 100%
        margin-top: 20px
        overflow: hidden
        border: 1px solid #000
    
    .shedule__table
        width: 100%
        margin-top: 0
        top: 0
        overflow: hidden
        overflow-x: scroll

        
    .shedule-table
        top: 0 !important
    
    .shedule__outer table 
        width: 100%
        border-collapse: separate
        border-spacing: 0
        overflow-y: hidden
    .shedule__outer tbody
        width: 100%
        overflow: hidden

    .shedule__outer th, .shedule__outer td 
        padding: 5px 10px
        border: 1px solid #000
        background: #fff
        white-space: nowrap
        vertical-align: top
    
    .shedule__outer thead, .shedule__outer tfoot 
        background: #f9f9f9
    
    .clone .shedule__time
        border: 1px solid #000
        background: #fff
        visibility: visible
        z-index: 100 !important
    .clone .shedule__title
        border: 1px solid #000
        background: #fff
        visibility: visible
         z-index: 100 !important
    .clone .shedule__subtitle
        visibility: hidden
    .clone .shedule__subject
        visibility: hidden
        .current
            visibility: hidden

    // ------------ Journal ----------

    .journal
        table-layout: fixed
        &__outer
            position: relative
        &__table
            overflow-x: scroll
            overflow-y: visible
            height: auto
        &__title
            font-size: 15px
            padding: 0 4px
            max-width: 140px
            padding: 0 10px
            min-width: 140px
            line-height: 100%
            width: 140px
            background: #fff
        &__subtitle
            font-size: 16px
            height: 26px
        &__week
            min-width: 30px
            font-size: 14px
            height: 26px
        &__mark
            height: 40px
            input
                font-size: 15px
        &__day
            min-width: 30px
            font-size: 14px
        &__subject
            height: 40px
            max-width: 140px
            padding: 0 10px
            min-width: 140px
            line-height: 100%
            width: 140px
            background: #fff
            span
                font-size: 12px
                
            &--nav
                flex-direction: column
            &--room
                font-size: 11px
                margin-bottom: 2px
            &--name
                font-size: 14px
                line-height: 16px
            &--type
                font-size: 11px
    .journal__subject,
    .journal__title
        visibility: hidden
        border: 0px solid #000 !important
    .journal-table .clone
        overflow-x: scroll
        overflow-y: visible
        height: auto
    #table-scroll
        overflow-x: scroll
    .table-scroll 
        position: relative
        max-width: 100%
        margin: auto
        overflow: hidden
        border: 1px solid #000
    
    .table-wrap 
        width: 100%
        overflow: auto
    
    .table-scroll table 
        width: 100%
        margin: auto
        border-collapse: separate
        border-spacing: 0
    
    .table-scroll th, .table-scroll td 
        padding: 5px 10px
        border: 1px solid #000
        background: #fff
        white-space: nowrap
        vertical-align: top
    
    .table-scroll thead, .table-scroll tfoot 
        background: #f9f9f9
    
    .clone 
        position: absolute
        top: 20px
        left: 0
        pointer-events: none
        overflow-x: scroll
        max-width: 260px
    
    .clone th, .clone td, .clone tr 
        visibility: hidden
    
    .clone td, .clone th, .clone tr
        border-color: transparent
    
    .clone tbody th 
        visibility: visible

    .clone .journal__week
        display: none

    .clone .journal__subject
        border-bottom: 1px solid #000 !important
        border-left: 1px solid #000 !important 
        border-right: 1px solid #000 !important
        background: #eee
        visibility: visible
        display: block

    .clone .journal__title
        border: 1px solid #000 !important
        background: #eee
        visibility: visible
        height: 74px

    .clone .journal__subtitle
        border: 1px solid #000
        background: #eee
        visibility: hidden
        height: 20px
        max-width: 140px
    
    
        
    // ------------ Settings ----------
    
    .settings
        &__title
            font-size: 17px
        &__block
            margin-top: 16px
            display: flex
            flex-direction: column
        &__item
            margin-bottom: 20px
            &:last-child
                margin-bottom: 0
            &--title
                font-size: 15px
        .change
            &__item
                flex-direction: column
                align-items: flex-start    
                input
                    width: 100%
            &__avatar
                align-items: center
                

    // ------------ Other ----------

    .mob-br
        display: block
        height: 4px

    // ------------ Captcha mobile ----------

    .cap
        &__alert
            line-height: 130%
            font-size: 13px
        &__container
            width: 80%
        &__sign
            width: 100%
        &__title
            font-size: 14px
            line-height: 16px
        &__refresh
            svg
                width: 15px
                height: 15px
        &__close
            svg
                width: 15px
                height: 15px
        &__image
            img
                width: auto
        &__text
            line-height: 40px
            font-size: 13px
            left: 50px
        &__square
            width: 40px
            height: 40px
        &__block
            height: 42px
            svg
                width: 18px
                height: 18px
        &__white
            display: none
        &__include
            display: none
        &__whiteMobile
            display: block
            width: 40px
            height: 40px
        &__includeMobile
            display: block
            width: 40px
            height: 40px
        &__nav
            margin-left: 20px

    // ------------ Group ----------

    .group
        &__mainTitle
            font-size: 20px
        &__table
            margin-top: 10px
            overflow: scroll
        &__week
            font-size: 14px
        &__teacher
            height: auto
            &--info
                font-size: 12px
                padding: 5px 15px
        &__buttons
            margin: 0 auto
            margin-top: 30px
            &--add,
            &--delete
                margin-top: 0
                text-align: center
                font-size: 10px
                padding: 12px 14px

        // ------------ Index(first-page) ----------

    .first-page
        &__block
            width: 80%
            padding: 20px 14px
            height: auto
        &__title
            font-size: 22px
            line-height: 26px
            width: 100%
        &__subtitle
            font-size: 14px
            line-height: 17px
        &__btn
            font-size: 12px
            padding: 12px 10px
            width: 120px