*{
    padding: 0;
    margin: 0;
}
.preloader {
    background: url("../img/main-bg.jpg");
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    right:0;
    bottom:0;
    width: 100%;
    height: 100%;
    z-index: 100000;
}
.preloadImg{
    display: block;
    position: absolute;
    width: 60px;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    animation: pulse 2s ease infinite;
}

/* @keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
} */