{% load static %}


<div class="captcha">
    <div class="cap__container">
        <div class="cap__info">
            <div class="cap__title">
                Подтвердите, что вы не являетесь роботом
            </div>
            <div class="cap__nav">
                <div class="cap__refresh">
                    <img src="{% static 'img/icon/refresh.svg' %}" class="img-svg" alt="">
                </div>
                <div class="cap__close">
                    <img src="{% static 'img/icon/close.svg' %}" class="img-svg cap__close" alt="">
                </div>
            </div>
        </div>

        <div class="cap__sign">

            <canvas id="myCanvas1" class="cap__white" width="50" height="50"></canvas>
            <canvas id="myCanvas" class="cap__include" width="50" height="50"></canvas>
            <canvas id="canvasBlurMobile" class="cap__whiteMobile" width="40" height="40"></canvas>
            <canvas id="canvasPazlMobile" class="cap__includeMobile" width="40" height="40"></canvas>
            <div class="cap__imgHide"></div>
            <div class="cap__image">
                <img class="cap__img" src="" alt="">
                <div class="cap__image--block">
                    <img src="{% static 'img/icon/loading.svg' %}" alt="" class="cap__load img-svg">
                </div>
            </div>
            <div class="cap__block">
                <div class="cap__text">
                    Потяните ползунок вправо
                </div>
                <div class="cap__square">
                    <img src="{% static 'img/icon/arrow.svg' %}" class="img-svg cap__arrow" alt="">
                    <img src="{% static 'img/icon/close.svg' %}" class="img-svg cap__no" alt="">
                    <img src="{% static 'img/icon/check.svg' %}" class="img-svg cap__check" alt="">
                </div>
            </div>
            <div class="cap__alert">
                Попробуйте еще раз, количество попыток для данного изображения: <span class="cap__alert--num"></span>
            </div>
        </div>
    </div>
</div>