{% load static %}


<header class="header">
    <div class="header__tabHide">
        <img class="img-svg" src="{% static 'img/icon/menu.svg' %}" alt="">
    </div>
    <div class="header__cath">
        Кафедра кібербезпеки та програмного забезпечення
    </div>
    {% if user.is_authenticated %}
    <div class="header__profile">
        <div class="header__item">
            <div class="header__name">
                <a href="{% url 'accounts:profile' %}">{{user.last_name}} {{user.first_name}}</a>
            </div>
            <div class="header__group">
                {% if user.is_student %}
                    {{user.student.group}}
                {% endif %}
            </div>
        </div>
        <div class="header__item header__icon">
            <img src="{{ user.image.url }}" alt="">
        </div>
        <div class="header__item">
        </div>
    </div>
    <div class="header__option">
        <a href="#" class="header__option--item">
            <img src="{% static 'img/icon/notification.svg' %}" class="img-svg" alt="">
            <span>Повідомлення</span>
        </a>
        <a href="{% url 'accounts:profile' %}" class="header__option--item">
            <img src="{% static 'img/icon/settings.svg' %}" class="img-svg" alt="">
            <span>Налаштування</span>
        </a>
        <a href="#" class="header__option--item">
            <img src="{% static 'img/icon/logout.svg' %}" class="img-svg" alt="">
            <form action="{% url 'accounts:logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Вихід</button>
            </form>
        </a>
    </div>
    <div class="header__menu">
        <img src="{% static 'img/icon/menu.svg' %}" class="img-svg" alt="">
    </div>
    {% else %}
    <div><a href="{% url 'accounts:registration' %}">Регистрация</a></div>
    <div><a href="{% url 'accounts:login' %}">Вход</a></div>
    {% endif %}
</header>